.Menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Menu nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #2d3848;
  padding: 24px;
  box-shadow: 0px 0px 16px 999rem rgba(4, 8, 16, 0.6);
  border-radius: 8px;
  margin: 0;
  text-align: left;
}

h1 {
  margin: 0;
  text-align: center;
}

label {
  padding: 16px 0px 8px;
  display: block;
  font-weight: bold;
}

input {
  padding: 8px 8px;
  border-radius: 4px;
  color: #fff;
  background-color: #0004;
  border: none;
  width: 100%;
}

.size-block {
  display: flex;
  gap: 16px;
}

.size-block div {
  width: 100%;
}

form button[type="submit"] {
  width: 100%;
  border: none;
  background-color: #af6262;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 16px;
}

form button[type="submit"]:hover {
  background-color: #fb6161;
}

.select > div {
  display: flex;
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  color: #fff;
  background-color: #0007;
  box-shadow: 0px 2px 7px rgba(253, 247, 239, 0.6);
  border-top-color: #fffa;
  border-top-style: dashed;
  border-top-width: 2px;
  border-right-color: #fffb;
  border-right-style: dashed;
  border-right-width: 2px;
  border-bottom-color: #fffb;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  border-left-color: #fffb;
  border-left-style: dashed;
  border-left-width: 2px;
}

.select > div:hover {
  font-weight: bold;
  color: #000d;
  background-color: #fffd;
  box-shadow: 0px 2px 12px 2px rgba(253, 247, 239, 0.6);
  border-top-color: #fffc;
  border-top-style: dashed;
  border-top-width: 3px;
  border-right-color: #fffe;
  border-right-style: dashed;
  border-right-width: 3px;
  border-bottom-color: #fffe;
  border-bottom-style: dashed;
  border-bottom-width: 3px;
  border-left-color: #fffe;
  border-left-style: dashed;
  border-left-width: 3px;
}

form img {
  height: 2rem;
  padding-right: 8px;
}

.options {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #2d3848;
  transform-origin: top center;
}

.option {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  height: 40px;
  padding: 8px 8px;
  border-radius: 4px;
  color: #fff;
  background: linear-gradient(#0000, #0004);
  visibility: inherit;
  opacity: 1;
  cursor: pointer;
}

.option:hover {
  padding: 12px !important;
  border: 0;
  font-weight: bold;
  color: #000d;
  background-color: #fffe;
  box-shadow: 0px 2px 12px 2px rgba(253, 247, 239, 0.6);
}
